@CHARSET "UTF-8";
.graph_title {
	font-weight:bold;
	font-size: 10pt;
	text-align: center;	
	padding-bottom: 5px;
	padding-top: 10px;
}

.graph {
	float: left;
	margin-right:50px;
	margin-left: 50px;
}

.twitter-stat .stat-description {
	color:#888888;
	font-size:16px;
}

.twitter-stat .stat-wrap {
	background-color:#99aab4;
	border-radius:5px;
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
}

.twitter-stat .stat-wrap.is-1Columns{
	max-width:400px;
}

.twitter-stat .stat-wrap.is-1Columns .stat { 
	width:100%;
}

.twitter-stat .stat-wrap.is-2Columns{
	max-width:800px;
	
}

.twitter-stat .stat-wrap.is-2Columns .stat{
	width:50%;
}
.twitter-stat .stat-wrap.is-3Columns{
	max-width:1200px;
}

.twitter-stat .stat-wrap.is-3Columns .stat{
	width:33%;
	}


.twitter-stat .stat-wrap.is-4Columns{
	max-width:1200px;
}

.twitter-stat .stat-wrap.is-4Columns .stat{
	width:25%;
}

@media (max-width:620px){
	.twitter-stat .stat-wrap.is-1Columns .stat,.twitter-stat .stat-wrap.is-2Columns 
	.stat,.twitter-stat .stat-wrap.is-3Columns .stat,.twitter-stat .stat-wrap.is-4Columns .stat{
	width:100%;
}}

.twitter-stat .stat-wrap .stat{
	border-right:1px solid #b3bfc8;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:inline-block;
	padding:0 20px;
	margin:20px 0;
	vertical-align:middle;
	word-wrap:break-word;
}

.twitter-stat .stat-wrap .stat:last-child{
	border-right:0;
}
@media (max-width:620px){
	.twitter-stat .stat-wrap .stat{
		border:0 solid #b3bfc8;
		border-bottom-width:1px;
		display:block;
		margin:0;
		padding:20px;
		width:100%;
	}
	.twitter-stat .stat-wrap .stat:last-child{
		border-bottom-width:0;
	}
}
.twitter-stat .stat-wrap .stat-value,.twitter-stat .stat-wrap .stat-title{
	display:block;color:#fff;text-align:center;
}

.twitter-stat .stat-wrap .stat-value{
	font-size:50px;line-height:1;
}
.twitter-stat .stat-wrap .stat-title{
	font-size:14px;
}
.node-type-corporate-page .twitter-stat .stat-wrap{
	background-color:#FFF;border-radius:0;padding:0 105px;
}

@media (max-width:440px){
	.node-type-corporate-page .twitter-stat .stat-wrap{
	padding:0;
}}
@media (max-width:768px){
	.node-type-corporate-page .twitter-stat .stat-wrap.is-4Columns .stat{
	width:50%;
}}
@media (max-width:540px){
	.node-type-corporate-page .twitter-stat .stat-wrap.is-4Columns .stat{
	width:100%;
}}

.node-type-corporate-page .twitter-stat .stat{
	border-right:0;float:left;
}

@media (max-width:620px){
	.node-type-corporate-page .twitter-stat .stat{
	border-bottom:0;
}}

.node-type-corporate-page .twitter-stat .stat-value{
	color:#70b6ea;
	border:1px solid #70b6ea;
	border-radius:50%;
	font-size:24px;
	height:105px;
	line-height:110px;
	margin:0 auto;
	overflow:hidden;
	width:105px;
}

.node-type-corporate-page .twitter-stat .stat-title{
	color:#343434;font-size:16px;line-height:20px;margin-top:15px;
}

.node-type-corporate-page .twitter-stat .stat-clear{
	clear:both;
}




